/* Custom CSS para EMEF Maria Regina */

@keyframes scaleUp {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scale-up {
  animation: scaleUp 0.25s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

/* Custom Scrollbar com as cores de Timon */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0B3B73;
}

::-webkit-scrollbar-thumb {
  background: #FFAA1D;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0052A5;
}